.choice {
    list-style: none;
    background-color: aquamarine;
    margin-top: 4px;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    transition: background-color ease-out 0.1s ;
}

.choice:active{
    background-color: rgb(240, 240, 240);
}