<header>
    <div class="logo">
       <button class="logo-button">Logo</button>
    </div>
    <div class="create">
       <button class="create-button">Create</button>
    </div>
    <div class="create">
       <button class="create-button"><a href="/user/signup">Sign Up</a></button>
    </div>
 </header>