<header>
   <div class="logo">
     <button class="logo-button">Logo</button>
   </div>
   <div class="buttons">
     <div>
       <button class="header-button">Signin</button>
     </div>
     <div>
       <button class="header-button">Create</button>
     </div>
   </div>
 </header>