<header>
   <div class="logo">
     <button class="logo-button"><a href="/">QuizQuest</a></button>
   </div>
   <div class="buttons">
     <div>
       <button class="header-button"><a href="/user/signin">Signin</a></button>
     </div>
     <div>
       <button class="header-button"><a href="/quiz">Quizzes</a></button>
     </div>
   </div>
 </header>