<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generate Quiz</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
      }

      header {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px 60px;
        justify-content: space-between;
        background: linear-gradient(to right, rgb(13, 0, 72), rgb(108, 0, 108));
      }

      .logo-button {
        border-style: none;
        border-radius: 2px;
        color: white;
        padding: 7px 22px;
        /* background: linear-gradient(
          to right,
          rgb(79, 0, 216),
          rgb(100, 36, 209)
        ); */
      }

      .logo-button a {
        text-decoration: none;
        color: white;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
      }

      .rightside {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      .header-button {
        border-style: none;
        border-radius: 2px;
        color: white;
        padding: 7px 22px;
        background: transparent;
        font-size: 16px;
        transition: all 0.01s ease-in-out;
      }

      .header-button a:hover {
        text-decoration: underline 4px rgb(79, 0, 216);
        /* color: rgb(79, 0, 216); */
      }

      .header-button a {
        text-decoration: none;
        color: white;
      }

      body {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, rgb(13, 0, 72), rgb(108, 0, 108));
      }

      .outer-box {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: space-between;
        top: 80px;
        bottom: 80px;
        height: 550px;
        width: 90%;
        background: linear-gradient(
          to right,
          rgb(55, 103, 215),
          rgb(220, 69, 220)
        );
        padding: 40px 20px;
        border-radius: 15px;
      }

      .box-head {
        font-size: xx-large;
        color: white;
        margin-bottom: 30px;
      }

      .prompt-box {
        background-color: white;
        height: 25%;
        width: 450px;
        display: flex;
        flex-direction: column;
        padding: 15px 15px;
        border-radius: 8px;
        margin-bottom: 15px;
      }

      .question {
        font-size: small;
        font-weight: 500;
        margin-right: 10px;
      }

      .prompt-input {
        margin-top: 10px;
        height: 100%;
        font-size: 16px;
        resize: none;
        outline: none;
        border: none;
      }

      .normal-box {
        background-color: white;
        width: 450px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 15px;
        border-radius: 8px;
        margin-bottom: 15px;
      }

      .title-input,
      .description-input,
      .point-input {
        outline: none;
        border: none;
        width: 100%;
        font-size: 16px;
      }

      .generate-button {
        padding: 15px 40px;
        background-color: rgb(34, 222, 62);
        border-radius: 8px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.1s ease-out;
      }

      .generate-button:hover {
        transform: scale(1.1);
      }

      footer {
        position: absolute;
        display: flex;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 13px;
        background: linear-gradient(
          to right,
          rgb(55, 103, 215),
          rgb(220, 69, 220)
        );
        justify-content: center;
      }

      .reserve-rights {
        font-size: small;
        color: white;
      }

      .loader-container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, rgb(13, 0, 72), rgb(108, 0, 108));
        /* background-color: #f0f0f0; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .gear-loader {
        animation: loader-animation 2s infinite;
      }

      .gear {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 20px;
        position: relative;
        border: 4px solid #ffffff;
        border-left-color: #000000;
      }

      .gear-teeth {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #ffffff;
      }

      .loading-text {
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
      }

      @keyframes loader-animation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>

  <body>
    <header>
      <div class="logo-button">
        <a href="/">QuizQuest</a>
      </div>
      <div class="rightside">
        <div>
          <button class="header-button">
            <a href="/user/logout">Logout</a>
          </button>
        </div>
        <div>
          <button class="header-button">
            <a href="/quiz">Quizzes</a>
          </button>
        </div>
      </div>
    </header>
    <form action="/quiz/generate" method="post" class="outer-box">
      <div class="box-head">Generate Quiz</div>
      <div class="prompt-box">
        <!-- <div class="question">Enter the Prompt</div> -->
        <textarea
          placeholder="Enter the Prompt"
          name="prompt"
          class="prompt-input"
        ></textarea>
      </div>
      <div class="normal-box">
        <!-- <div class="question">Enter the title</div> -->
        <input placeholder="Enter the Title" name="title" class="title-input" />
      </div>
      <div class="normal-box">
        <!-- <div class="question">Enter the Description</div> -->
        <input
          placeholder="Enter the Description"
          name="description"
          class="description-input"
        />
      </div>
      <div class="normal-box">
        <!-- <div class="question">Enter the Points</div> -->
        <input
          placeholder="Enter the Points"
          name="points"
          class="point-input"
        />
      </div>
      <button class="generate-button">Generate</button>
    </form>
    <footer>
      <a class="reserve-rights"> All Rights Reserved | abcd@gmail.com </a>
    </footer>
  </body>
  <script>
    const main = document.querySelector("body");
    const submit = document.querySelector("form");

    submit.addEventListener("submit", () => {
      setTimeout(() => {
        main.innerHTML = `<div class="loader-container">
          <div class="gear-loader">
            <div class="gear">
              <div class="gear-teeth"></div>
              </div>
              </div>
              <div class="loading-text">Loading...</div>
              </div>`;
      }, 100);
      submit.submit();
    });
  </script>
</html>
