<!DOCTYPE html>
<html lang="en">
  <title>Quiz App</title>
  <%- include('./components/head') %>

  <body>
    <main>
      <%- include('./components/navbar') %>

      <!-- This is the Home Page  -->
      <%- include('./components/footer') %>
    </main>
  </body>
</html>
