<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head',{title: "Quiz App"}) %>

  <body>
    <main>
      <!-- This is the Home Page  -->
      <div>
        <ul>
          <li><a href="/quiz">Show Quizzes</a></li>
        </ul>
        <ul>
          <li><a href="/quiz/create-quiz">Create Quiz</a></li>
        </ul>
        <a href="/user/signup">Sign Up</a>
        <ul>
          <li><a href="/user/logout">Logout</a></li>
        </ul>
      </div>
      <%- include('./components/footer') %>
    </main>
  </body>
</html>
