<!DOCTYPE html>
<html lang="en">
  <body>
    <main>
      <!-- This is the Home Page  -->
      <div>
        <ul>
          <li><a href="/quiz">Show Quizzes</a></li>
        </ul>
        <ul>
          <li><a href="/quiz/create-quiz">Create Quiz</a></li>
        </ul>

        <% if (!locals.user) { %>
        <ul>
          <li><a href="/user/signup">Sign Up</a></li>
        </ul>
        <% } else { %>
        <ul>
          <li><a href="/user/logout">Logout</a></li>
        </ul>
        <% } %>
      </div>
    </main>
  </body>
</html>
