<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Quiz</title>
  </head>
  <body>
    <button><a href="/">Home</a></button>
    <button><a href="/quiz/create-quiz">Create Quiz</a></button>
    <form action="/quiz/generate" method="get">
      <input
        type="text"
        name="promt"
        placeholder="Enter Prompt Here...."
        required
      />
      <input type="text" name="description" placeholder="Enter Description" />
      <input type="number" name="points" placeholder="Enter Points of each Question" />
      <input type="submit" value="Generate Quiz" />
    </form>
    <% quizzes.forEach(quiz => { %>
    <div>
      <ul>
        <li>Title: <%= quiz.title %></li>
        <li>Description: <%= quiz.description %></li>
        <li>CreatedBy: <%= quiz.createdBy.fullName %></li>
        <li><a href="/quiz/<%= quiz._id %>">Click To Show</a></li>
      </ul>
    </div>
    <% }) %>
  </body>
</html>
